<h3><%= link_to "new_patient", new_patient_path %></h3>
<% @patient.each do |patient| %>
  <h3> <%=   link_to patient.first_name + " " + patient.last_name , patient_path(patient) %> </h3>
   <h3> <%=   patient.diagnosis %></h3>
   <h3> <%=   patient.born_on %></h3>
<% end %>